@model LoginViewModel

@{
    ViewData["title"] = "Bejelentkezés";
}

<h2>Login</h2> <!-- teszt : A1.a1. -->


<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <input asp-for="RememberMe" class="form-check-input" />
        <label asp-for="RememberMe" class="form-check-label"></label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<div class="mt-3 border-top">
    <p>
        <a asp-controller="Account" asp-action="Register">Nincs fiókod?</a>
        <!--<a asp-controller="Account" asp-action="ForgotPassword">Elfelejtett jelszó?</a>-->
    </p>
</div>
